# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Environment & credentials
.env
.env.example
credentials.json

# Virtual environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# IDE/Editor
.vscode/
.idea/

token.pickle
users.db
credentials.json
